
@{
    Layout = null;
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Delta Enterprise</title>

    <link rel="icon" href="~/assets/images/App_images/favicon.png" type="image/x-icon" />

    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="~/assets/icon/simple-line-icons/css/simple-line-icons.css" />
    <link rel="stylesheet" type="text/css" href="~/assets/vendor/css/bootstrap.min.css" />
    <link href="~/assets/css/error_style.css" rel="stylesheet" />
</head>
<body>
    <form id="form1" runat="server">
        <div class="error-404">

            <div class="container-fluid">
                <div class="row">

                    <div class="text-uppercase col-xs-12 contain">
                        <h1>401</h1>
                        <h5>Unauthorized</h5>
                        <p>Access is allowed only for registered users</p>
                        <a href="Registration/Register" class="btn  btn-error btn-lg">Go to Registration</a>
                    </div>

                </div>
            </div>
        </div>
    </form>
</body>
</html>
